<footer class="bg-gray-900 text-gray-300">
  <div class="container py-12 mx-auto px-4">
    <div class="border-t border-gray-800 pt-8 text-center text-sm">
      <p>&copy; 2026 Hynkor Technologies. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
