---

---

<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="flex py-1.5 px-4 gap-2 justify-center items-center bg-green-700 rounded-lg text-white hover:bg-green-400"
>
  <slot />
</a>
