---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/index.css";
interface Props {
  title: string;
  description?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Hynkor Technologies es una compañia que comercializa computadoras de escritorio, laptops, tabletas, impresoras, suministros de impresión, accesorios y software (Windows 11, Oficce 365, antivirus, etc)."
    />
    <meta property="og:image" content="/og-image.png" />
    <meta property="og:url" content="https://hynkor.com" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Hynkor Technologies" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={Astro.props.description} />
    <meta name="twitter:image" content="/og-image.png" />
    <meta name="twitter:url" content="https://hynkor.com" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <slot name="hero" />
    <main class="max-w-7xl mx-auto px-4 py-12">
      <slot />
    </main>
    <Footer />
  </body>
</html>
